> Created by Teodora Szasz, tszasz@uchicago.edu

# <h1 align="center">2. Visualize reported incidents of crime in Chicago </h1>

In [1]:
# import libraries
import pandas as pd

RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa

RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa

RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa

RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa

In [2]:
!bokeh --version

RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa
RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa
RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa
RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa
0.12.5

In [3]:
# import Bokeh libraries - 2nd phase
from bokeh.charts import Bar
from bokeh.io import output_file, show

In [4]:
# import ColumnDataSource from Bokeh - 3rd phase
from bokeh.plotting import ColumnDataSource, figure

In [5]:
# create output file - 2nd phase
output_file('crimes.html')

In [6]:
# locate the file
file = '../Dataset/Crimes_-_2016_to_present.csv'

In [7]:
# use pandas' read_csv() method
crimes = pd.read_csv(file)

In [8]:
# option to be able to see all the columns
pd.set_option('display.max_columns', None)

- `head()` method displays the first few lines (here, three) of the table

In [9]:
crimes.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10842630,JA122203,01/19/2017 06:28:15 PM,059XX S ROCKWELL ST,2022,NARCOTICS,POSS: COCAINE,APARTMENT,True,False,824,8,16.0,66,18,NaN,NaN,2017,08/05/2017 03:50:08 PM,NaN,NaN,NaN
1,10842633,JA122240,01/19/2017 03:18:38 PM,006XX N ST LOUIS AVE,2024,NARCOTICS,POSS: HEROIN(WHITE),APARTMENT,True,False,1121,11,27.0,23,18,NaN,NaN,2017,08/05/2017 03:50:08 PM,NaN,NaN,NaN
2,10842652,JA122480,01/20/2017 12:52:00 AM,025XX E 106TH ST,2024,NARCOTICS,POSS: HEROIN(WHITE),RESIDENCE,True,False,434,4,10.0,51,18,NaN,NaN,2017,08/05/2017 03:50:08 PM,NaN,NaN,NaN
3,10885990,JA185288,03/13/2017 08:00:00 AM,033XX W FILLMORE ST,1812,NARCOTICS,POSS: CANNABIS MORE THAN 30GMS,POLICE FACILITY/VEH PARKING LOT,True,False,1134,11,24.0,29,18,NaN,NaN,2017,08/05/2017 03:50:08 PM,NaN,NaN,NaN
4,10886000,JA185322,03/13/2017 08:00:00 AM,033XX W FILLMORE ST,2024,NARCOTICS,POSS: HEROIN(WHITE),POLICE FACILITY/VEH PARKING LOT,True,False,1134,11,24.0,29,18,NaN,NaN,2017,08/05/2017 03:50:08 PM,NaN,NaN,NaN

In [10]:
# extract the District column - 2nd phase
crimes_district = crimes[['District']]

In [11]:
# count the frequency of crimes per District - 2nd phase
crimes_district['Frequency'] = crimes_district.groupby('District')['District'].transform('count')

/Users/rcc/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [12]:
crimes_district.head(10)

   District  Frequency
0         8      16687
1        11      17937
2         4      14588
3        11      17937
4        11      17937
5        11      17937
6        11      17937
7        11      17937
8        11      17937
9        20       4408

In [13]:
# extract the unique values only of the Districts - 2nd phase
crimes_district_unique = crimes_district.drop_duplicates('District')

In [14]:
crimes_district_unique

       District  Frequency
0             8      16687
1            11      17937
2             4      14588
9            20       4408
10           24       7863
11           25      14217
13           16       8942
14            7      13627
16            2      11346
17            5      11800
24           15      10374
25           14      10319
26            3      12349
29           18      14253
30           19      12031
32           10      12404
46            1      14650
48            9      11766
55           12      13599
56            6      16492
76           22       8361
146          17       7738
72017        31          3

In [15]:
# plot the Bar chart of the frequency on the crimes in each District - 2nd phase
bar_chart = Bar(crimes_district_unique, 'District', values='Frequency',
               title ='Frequency of Crimes per District', legend = False)

In [16]:
# plot the Bar chart of the frequency on the crimes in each District - 2nd phase
show(bar_chart)

/Users/rcc/anaconda3/lib/python3.5/site-packages/bokeh/core/json_encoder.py:73: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp
  if pd and isinstance(obj, pd.tslib.Timestamp):